<h2>{{productlist(user.id)[0].Category}}</h2>
<div class="row">
    <ul>
        <li *ngFor="let item of productlist(user.id); index as i">
            <div class="col-md-4  box-shadow">
                <div class="p-3 card border bg-light">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{item.Name}}</h4>
                    </div>
                    <div class="card-body">
                        <img class="img-fluid mb-4" src="../../assets/{{item.Photo}}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/interiorProduct',item.Id]">View</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


